.loginScreen {
    position: relative;
    height: 100%;
    background: url("https://cdn.wallpapersafari.com/24/74/zgeTuV.jpg") center no-repeat;
    background-size: contain;
}
.loginScreen__gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}
.loginScreen_body {
    position: absolute;
    top: 30%;
    text-align: center;
    z-index: 1;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
}
.loginScreen_body > h1 {
    font-size: 3.125rem;
    margin-bottom: 20px;
}
.loginScreen_body > h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.loginScreen_body > h3 {
    font-size: 1.2rem;
    font-weight: 400;
    /* margin-bottom: 30px; */
}
.loginScreen__logo {
    position: fixed;
    left: 0; 
    top: 20px;
    padding-left: 20px;
    object-fit: contain;
    cursor: pointer;
    width: 80px;
}
.signIn__btn {
    position: fixed;
    right: 0; 
    top: 20px;
    cursor: pointer;
    background-color: #e50941;
    color: white;
    border: none;
    outline: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2.1rem 0.5rem 2.1rem;
    margin-right: 1rem;
}
.loginScreen__input {
    margin: 20px;
}
.loginScreen__input > form > input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}
.loginScreen__getStarted {
    padding: 16px 20px;
    outline-width: 0;
    border: none;
    height: 100%;
    font-size: 1rem;
    background-color: #e50941;
    color: white;
    font-weight: 600;
    cursor: pointer;
}